<hr>
<button type="button" class="btn btn-info" (click)="getUsers()">Ver usuarios</button>
<br>
<br>
<ng-container *ngIf='users'>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">name</th>
              <th scope="col">doc</th>
              <th scope="col">profile</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let user of users'>
                <td> {{ user.id }} </td>
                <td> {{ user.name }} </td>
                <td> {{ user.doc }} </td>
                <td> {{ user.profile }} </td>
            </tr>
        </tbody>
    </table>
</ng-container>

